body {
  margin: 0;
  padding: 0;
  background-color: #ecfdf5;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.navigation {
  color: white;
  background-color: #a21caf;
  padding: 1rem;
  border-bottom-left-radius: 2rem;
}
.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}
.navigation .link-active {
  font-weight: bold;
}
.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold; /*  check if you find any mistake in future */
}
a:hover {
  color: black;
}

.navigation ul {
  list-style: none;
  text-align: right;
}
.navigation li {
  padding: 0rem 0.5rem;
  display: inline;
}

.image-container {
  padding: 2rem;
}
.image-container .image {
  max-width: 35rem;
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
.heading {
  text-align: center;
}

.two {
  padding-top: 1rem;
  background-color: #ea94f1;
  text-align: center;
  padding-bottom: 1.5rem;
}

.two h4 {
  color: #a21caf;
  padding: 0 0.5rem; /* important concept*/
}

.projects {
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

.projects h2 {
  font-size: 1.7rem;
}

.projects img {
  max-width: 21.875rem;
  display: block;
  margin: auto;
}

.card {
  border: 1px solid #a21caf;
  width: 18.75rem;
  padding: 0.625rem;
  margin: 0.625rem;
  border-radius: 16px;
  background-color: #a21caf;
}

.card-image {
  width: 100%;
  border-radius: 16px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.75rem 0.9375rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9375rem;
  font-weight: bold;
  display: inline-block;
}
a {
  text-decoration: none;
}

.blogs {
  padding-top: 1rem;
  background-color: #ea94f1;
  text-align: center;
  padding-bottom: 1.5rem;
}

.blogs p {
  color: black;
  font-style: italic;
  padding: 2rem;
}
footer {
  padding-top: 1rem;
  background-color: #eef2ff;
  text-align: center;
  padding-bottom: 1rem;
}

footer ul li {
  display: inline;
  padding-right: 1.5rem;
}

footer ul li a {
  text-decoration: none;
  font-weight: bold;
}

.card p {
  color: white;
}
